*~
*.svg
*.csv
ms*.txt
sim*.csv
req*.csv
*.png
*.log
*.gem
*.rbc
*.swp
*.pdf
.bundle
.config
.env
.ruby-version
.DS_Store
.vscode/
examples/request.csv
examples/request.csv
coverage
Gemfile.lock
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
vendor

!lib/mqtt-clients/*
lib/mqtt-clients/*.csv
lib/mqtt-clients/uploads/*
!**/.gitkeep

# Models directory
mdn_ms1_final
mdn_ms2_from_ms1

# YARD artifacts
.yardoc
_yardoc
doc/

.python*